body{
    background-color: #E3E7E8;
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 9%;
  transition: all ease .55s;
  background-color: wheat;
}


/* .navlist{
  display: flex;
  margin-left: 150px;
} */
.navlist a {
  font-size: 12px;
  color: black;
  font-weight: 600;
  margin: 0 20px 0 5px;
  transition: all ease 0.55s;
}
.h-main{
  display: flex;
  align-items: center;
}

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.menu-button{
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 200px;
}
.logos{
    color: black;
    font-size: 30px;
    margin-right: 20px;
    text-transform: capitalize;
    font-style: italic;
    margin-left: -150px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.list .item .read-more {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
.footer__container{
    display: flex; 
    flex-direction: row; 
    column-gap: 250px;
}
#navigation-menu li{
    display: flex;
}


#navigation-menu {
    display: flex;
}

#navigation-menu.active {
    display: block;
    position: absolute;
    top: 100%;
    background-color: wheat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 999;
}

#navigation-menu.active li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#navigation-menu.active li:last-child {
    border-bottom: none;
}


#navigation-menu.active a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

#navigation-menu.active a:hover {
    background-color: rgb(208, 144, 24);
}


/*Mobile*/
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .navlist a{
        display: none;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer__container_container_grid{
        display: grid; 
        flex-direction: row;
        column-gap: 100px
    }
    .list {
        grid-template-columns: 1fr;
    }
    .list .item {
        text-align: center;
    }
    .list .item img {
        width: 50%;
        margin-left: 10px;
    }
    .logo{
        display: flex;
        align-items: left;
        padding-left: 70px;
    }
    .logos{
        color: black;
        font-size: 30px;
        text-transform: capitalize;
        font-style: italic;
        padding-left: -50px;
    }
    .card{
        position: fixed;
        top:0;
        left: 100%;
        width: 500px;
        background-color: #453E3B;
        height: 100vh;
        transition: 0.5s;
    }
    
    .active .card{
        left: calc(100% - 300px);
    }
    .card .checkOut{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .card .checkOut div{
        background-color: wheat;
        width: 70%;
        height: 70px;
    }
    .card .checkOut div:nth-child(2){
        background-color: #1C1F25;
        color: #fff;
        margin-left: -100px;
    }
    .listCard li{
        display: grid;
        grid-template-columns: 100px repeat(2, 1fr);
    }
    .listCard li div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listCard li img{
        width: 50%;
    }
    .menu-button{
        display: block;
    }
    .footer__container{
        display: flex; 
        flex-direction: column; 
        column-gap: 50px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 950px){
    .container {
        width: 80%;
    }
    .navlist a{
        display: none;
    }
    .footer__container_container_grid{
        display: grid; 
        flex-direction: row; 
        column-gap: 100px
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
    .list .item {
        text-align: center;
    }
    .logo{
        display: flex;
        align-items: left;
        padding-left: 100px;
    }
    .logos{
        color: black;
        font-size: 30px;
        text-transform: capitalize;
        padding-left: -50px;
    }
    .card{
        position: fixed;
        top:0;
        left: 100%;
        width: 500px;
        background-color: #453E3B;
        height: 100vh;
        transition: 0.5s;
    }
    
    .active .card{
        left: calc(100% - 300px);
    }
    .card .checkOut{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .card .checkOut div{
        background-color: wheat;
        width: 70%;
        height: 70px;
    }
    .card .checkOut div:nth-child(2){
        background-color: #1C1F25;
        color: #fff;
        margin-left: -100px;
    }
    .listCard li{
        display: grid;
        grid-template-columns: 100px repeat(2, 1fr);
    }
    .listCard li div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listCard li img{
        width: 50%;
    }
    .menu-button{
        display: block;
    }
    .footer__container{
        display: grid;
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 50px;
        margin-left: 10px;

    }
}